$page-bg-color:  white;

// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..


$grey: #646363;
$green: #5e8c82;
$lightgrey: #e1e1e1;
$orange: #f8a924;

.menuButton {
	background-image: url("../icons/menubutton.png");
	background-repeat: no-repeat;
	background-size: 2em;
	margin-top: 0.2em;
	margin-left: 0.2em;
}

.headerInfo {
	background-image: url("../icons/headerinfo_background.png");
	background-repeat: repeat-y;
	background-size: contain;
}

.headerInfoText {
	color: $grey;
	text-align: center;
}

.headerTitle{
	font-size: 1em;
}

.headerDetails{
	font-size: 0.8em;
}


.footer2ColorBackground {
	background-image: url("../icons/footer_background.png");
	background-repeat: repeat-x;
	background-size: contain;
}

.mainButtonBackground {
	background-image: url("../icons/mainbutton_background.png");
	background-repeat: repeat-x;
	background-size: contain;
}

.backgroundGreen {
	background-color: $green;
}

.backgroundGrey {
	background-color: $grey;
}

.backgroundOrange {
	background-color: $orange; 
}

.backgroundDefault{
	background-color: $page-bg-color;
}

.fontColorGreen {
	color: $green
}

.fontColorOrange {
	color: $orange
}

.fontColorWhite{
	color: white;
}

///// picker customization
.storePicker .x-picker-inner {
	margin: 0em !important;
	border-radius: 0em !important;
	background: none;
}

.storePicker {
	background-image:none;
	background-color:$page-bg-color;
	border-top: 0em;
}

.storePicker .x-picker-bar{
	background: none;
	background-image: none;
	border-color: $grey;
	height: 1.5em;
}

.storePicker .x-picker-slot .x-dataview-item{
	line-height: 1.5em;
	height: 1.5em;
	color: $lightgrey;
	font-weight: normal;
	text-align: center;
}

.storePicker  .x-picker-slot .x-dataview-item.x-item-selected{
	color: $green !important;
}

.storePickerMargin {
	margin-top: 1em;
	margin-bottom: 1em;
}


.testCls{
	color: red !important;
}
////



// Examples of using the icon mixin:
// @include icon('user');